<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
  <input #gb type="text" pInputText size="50" placeholder="Search for you">
</div>

<p-dataTable [value]="Products"  [rows]="5" [paginator]="true" [globalFilter]="gb" #dt [sortField]="sortF" >
  <p-column field="name" header="Name" [sortable]="true"></p-column> 
  <p-column field="place" header="Place"[sortable]="true"></p-column> 
  <p-column field="cname" header="Contact name"[sortable]="true"></p-column> 
  <p-column field="cphone" header="Contact phone"[sortable]="true"></p-column> 
  <p-column field="need" header="Contact want"[sortable]="true"></p-column> 
  <p-column field="date" header="Published"  [sortable]="true"></p-column> 
</p-dataTable>

<p-dialog header="Add product" [(visible)]="display">
  <app-add-Product></app-add-Product>
</p-dialog>

<button type="text" (click)="showDialog()" pButton icon="fa-external-link-square" label="Add product" ></button>
<!--
<p-dialog header="Edit or delete product" [(visible)]="display2">
  <app-lista></app-lista>
</p-dialog>

<button type="text" (click)="showDialog2()" pButton icon="fa-external-link-square" label="Edit or delete product" ></button>-->